body{
    background-color:whitesmoke;
    font-size: 24px;
    text-align: center;
}

.title{
    color:#cc5a2a;
}

.crazy{
    border: solid thin pink;
    background-color:846684;
    text-align: left;
}

.cheat{
    color:red;
}

img{
    border:solid thick black;
    box-shadow: 15px 16px 20px grey;
}

footer{
    border: solid thick grey;
    margin:25px;
    padding:35px;
}

.takeBow:hover{
    border: solid thick pink;
}